/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.popup {
  width: 400px;
  background: #fff;
}
.popup :where(.picker, header, .all-colors) {
  display: flex;
  align-items: center;
}
.popup .picker {
  padding: 30px 0;
  background: #E3F2FD;
  justify-content: center;
}
.picker #color-picker {
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  background: #5372F0;
  transition: 0.3s ease;
}
#color-picker:hover {
  background: #2c52ed;
}
.picked-colors {
  margin: 10px 15px;
}
.picked-colors header {
  justify-content: space-between;
}
header .title {
  font-size: 1rem;
  margin-top: 50px;
  margin-right: 15px;

}
header .clear-all {
  cursor: pointer;
  font-size: 1.2rem;
  color: #5372F0;
  margin-left: 100px;
}

header .clear-all:hover {
  color: #143feb;
}
.picked-colors.hide {
  display: none;
}
.picked-colors .all-colors {
  flex-wrap: wrap;
  list-style: none;
  margin: 15px 0 15px;
  padding: 10px;
  background-color: rgb(232, 235, 239);
  border-radius: 20px;
}
.all-colors .color {
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px;

  flex: 1 0 calc(100% / 3); /* Flexible width based on 1/3 of the container */
}

.all-colors .rect {
  height: 21px;
  width: 21px;
  display: block;
  margin-right: 8px;
  border-radius: 5px;
}

.all-colors .color span {
  font-size: 0.96rem;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Open sans";
}

.all-colors .icons {
  display: none;
}

.color:hover .icons {
  display: flex;
  align-items: center;
}

.copy-icon {
  color: #2196f3;
  cursor: pointer;
  margin-right: 10px;
}

.copy-icon:hover {
  color: #0d74d9;
}

.delete-icon {
  color: #ff5722;
  cursor: pointer;
}

.delete-icon:hover {
  color: #f44336;
}

.create-palette {
  cursor: pointer;
  font-size: 0.9rem;
  color: #5372F0;
  margin-right: 10px; 
}

.create-palette:hover {
  color: #143feb;
}


/* Adjust the styling for export icon */
header .export-icon{
    cursor: pointer;
    font-size: 1.2rem;
    color: #5372F0;
    margin-right: 20px;
}

header .export-icon:hover{
    color: #143feb;
}

